<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384332962418-1p3k4cn029sslgl0qp6h4bfq2lbpgljt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384332962418-1p3k4cn029sslgl0qp6h4bfq2lbpgljt</string>
	<key>API_KEY</key>
	<string>AIzaSyCEmFmBHSzAGAuo0hq_1oYBDjh9oqXS7aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>384332962418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msalda.BookStore</string>
	<key>PROJECT_ID</key>
	<string>bookstoredb-b9d83</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstoredb-b9d83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384332962418:ios:0c7414eebf77c7282900eb</string>
</dict>
</plist>